doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title Dashboard
		include include/links.pug
	body
		include components/sidebar.pug
		include components/content.pug

		script(src="js/jquery-3.4.1.js")
		script(src="js/bootstrap.bundle.js")
		script(src="js/all.min.js")
		script(src="js/main.js")
		