.navbar.justify-content-start
  i.fas.fa-align-justify.fa-lg.custome-2
  .dropdown
    a#dropdownMenuButton.notif.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      i.fas.fa-bell
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
      h4.notif-head all notification
      ul.list-unstyled.notif-list
        li
          i.far.fa-envelope.icon-notif 
          a(href="#") new email
        li
          i.fas.fa-user-plus.icon-notif
          a(href="#") you have new add
        li
          i.far.fa-thumbs-up.icon-notif
          a(href="#") you have new like
        li
          i.far.fa-folder-open.icon-notif
          a(href="#") old notification
      a.v-all(href="#") Show all notification
  span.full-screen
    i.fas.fa-compress-alt
  .mega-menu
    a#dropdownMenuButton.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      img.avatar.rounded-circle(src="imgs/avatar.png", alt="user avatar")
      | ehab elshohat 
      i.fa.fa-angle-down.avtar-down
    .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
      .info
        h3.text-capitalize ehab elshahat
        p Lorem ipsum dolor 
      hr
      .user-info
        ul.activity-list.list-unstyled
          li Lorem ipsum dolor sit amet consectetur
          li Lorem ipsum dolor sit amet consectetur
          li Lorem ipsum dolor sit amet consectetur
          li Lorem ipsum dolor sit amet consectetur
      hr
      .username-links.row
        .col
          .link-box
            i.fas.fa-cog.user-settings
            span settings
        .col
          .link-box
            i.fas.fa-user.user-profile
            span my profile
        .col
          .link-box
            i.fas.fa-power-off.user-logout
            span logout
        

      
  
      