.navbar.justify-content-start
  i.fas.fa-align-justify.fa-lg.custome-2
  .dropdown
    a#dropdownMenuButton.notif.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      i.fas.fa-bell
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
      h4.notif-head all notification
      ul.list-unstyled.notif-list
        li
          i.far.fa-envelope.icon-notif 
          a(href="#") new email
        li
          i.fas.fa-user-plus.icon-notif
          a(href="#") you have new add
        li
          i.far.fa-thumbs-up.icon-notif
          a(href="#") you have new like
        li
          i.far.fa-folder-open.icon-notif
          a(href="#") old notification
      a.v-all(href="#") Show all notification
  span.full-screen
    i.fas.fa-compress-alt
      