.sidebar
  h3.side-head.text-capitalize.text-center abo anas
  ul.link-list.list-unstyled.text-capitalize
    li: a(href="#") home
          .fas.fa-chevron-right.arrow
    li 
      a(href="#") about
        .fas.fa-chevron-right.arrow
      ul.list-unstyled.sub-list.text-capitalize
        li: a(href="#") ahmed
        li: a(href="#") ehab
        li: a(href="#") anas
    li: a(href="#") contact
          .fas.fa-chevron-right.arrow